<p>
It is also possible to name a sub-expression and use the name instead of the expression afterwards:
</p>
<p>
<code>def scale = 5</code>
</p>
<p>
<code>7 * scale</code>
</p>
<p>
<code>def pi = 3.141592653589793</code>
</p>
<p>
<code>def radius = 10</code>
</p>
<p>
<code>2 * pi * radius</code>
</p>
<p>
Deﬁnitions start with the reserved word <code>def</code>; they introduce a name which stands for the expression following the <code>=</code> sign. The interpreter will answer with the introduced name and its type.
</p>
<p>
Type <code>:next</code> when you are ready.
</p>
