@()(implicit request: RequestHeader)

@main("Try Scala") {
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 sidebar">
      <!--Sidebar content-->
      <div id='title' class='title'><h1>Try Scala</h1></div>
      <div id='text' class='well'>
        <p>Welcome to Scala! You can see Scala Interpreter on the right. We call it a REPL.</p>
        <p> ... </p>
        <p>Type <code>:next</code> to continue.</p>
      </div>
    </div>
    <!--Body content-->
    <div id='container' class='cont span8'>
      <div id='repl' class='repl'>
        <div id='result'>
          <div>Welcome to Web Scala BETA<br>Type in expressions to have them evaluated.</div>
        </div>
        &gt;&nbsp;<input id='prompt'></input>
      </div>
      <div class='footer'><small>© 2013 <a href='mailto:jdinosaurus&#64;gmail.com'> jdinosaurus</a></small></div>
    </div>
  </div>
</div>
    
<script>
  function wsUrl() { return "@routes.Application.execute.webSocketURL()"; }
</script>
}
