@()(implicit request: RequestHeader)

@main("Try Scala") {
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4 sidebar">
      <!--Sidebar content-->
      <div id='title' class='title'>
        <img src='@routes.Assets.at("images/newsflash_logo.png")'/>
      </div>
      <div id='text' class='well'>
        <p>Welcome to Scala! You can see Scala Interpreter on the right. We call it a REPL.</p>
        <p> ... </p>
        <p>Type <code>:next</code> to continue.</p>
      </div>
    </div>
    <!--Body content-->
    <div id='container' class='cont span8'>
      <div id='repl' class='repl'>
        <div id='result'>Welcome to Web Scala BETA<br>Type in expressions to have them evaluated.</div>
        <div id='placeholder'>&gt;</div><img src='@routes.Assets.at("images/loader.gif")' class='loader'/>&nbsp;<input id='prompt'/>
      </div>
      <div class='footer'><small>© 2013 <a href='mailto:jdinosaurus&#64;gmail.com'> jdinosaurus</a></small></div>
    </div>
  </div>
</div>
}
