@()(implicit request: RequestHeader)

@main("Welcome to Play 2.1") {
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
      <!--Body content-->
      <div id='container' class='cont span10'>
        <div id='title' class='title'> <h1>Interactive Scala</h1> </div>
        <div id='repl' class='repl'>
          <div id='result'></div>
          &gt;&nbsp;<input id='prompt'></input>
        </div>
      </div>
  </div>
</div>
    
<script>
  function wsUrl() { return "@routes.Application.execute.webSocketURL()"; }
</script>
}
